body
{
	background: #EBEBEB;
	font-family: 'UpperEastSide', serif;
	color: black;
	background-image: url("https://i.pinimg.com/originals/93/5a/79/935a799f84786663734bb098313dc29c.jpg");
	background-size: 1360px;
	background-repeat: no-repeat;
}

a
{
	font-family: 'Bellerose';
	color: white;
	padding: 10px;
}

.checkbox
{
	color: #000;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Bellerose', cursive;
}

/* Nav ----------*/
.main-title
{
	color: #8d8888 !important;
	font-size: 26px;

}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
  position: absolute;
  top: 50px;
}

li a{
	background-color: #8d8888;
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover{
  background-color: #585858;
}

nav
{
	background-color: #8d8888;
	height: 115px;
}

.navbar-right{
  position: relative;
  top: 5px;
  right: 10px;
}

/* Button def-----------*/
.button	 {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
}

#SignInBtn{
  	background-color: #46a049;
	font-family: 'Bellerose';
	font-size: 18;
}

#SignInBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#SignInBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#SignInBtn:hover span {
  padding-right: 15px;
}

#SignInBtn:hover span:after {
  opacity: 1;
  right: 0;
	color: white
}

/* Footer -------*/
footer
{
	background: #8d8888;
	text-align: center;
	position: relative;
	top: 100px;
}

footer p
{
	text-align: justify;
}

ul.redes li
{
	display: inline-block;
}

ul.redes li a
{
	color: orange;
}

.avatar
{
	border: 5px solid orange;
	border-radius: 50%;
	float: left;
	height: 100px;
	width: 100px;
}

/* Catalogo -------------*/
#products {
position: relative;
max-width: 100%;
width: 100%;
top: 100px;
}
img {
width: 100%;
max-width: 100%;
height: auto;
}
.white-panel {
position: absolute;
background: white;
box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
padding: 10px;
}
.white-panel h1 {
font-size: 1em;
}
.white-panel h1 a {
color: #A92733;
}
.white-panel:hover {
box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
margin-top: -5px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}

/* Detalle producto ---------*/
.product-block
{
	background: #fff;
	border-radius: 1em;
	padding: 1em;
}

/* Slider ----------*/
.navbar
{
	margin-bottom: 0;
}

#slider
{
	position: relative;
	top: 95px;
	left: 20px;
	right: 20px;
	width: 1300px;
	height: 500px;
	background-color: rgba(198, 198, 198, 0.5);
}


#SliderImg
{
	width: auto;
	height: 460px;
	position: relative;
	top: 25px;
	left: 430px;
}
/* Carrito -----------*/
.table-cart
{
	background: #857c7c;
	border-radius: 1em;
	margin-bottom: 30px;
	padding: 1em;
}

.table-cart img
{
	width: 50px;
}

/* Detalle del pedido ------------*/
.page
{
	background: #857c7c;
	border-radius: 1em;
	margin-bottom: 30px;
	padding: 1em;
}
.table-responsive
{
	background-color: #857c7c;
}
.table-hover
{
	background-color: #857c7c;
}
.table-striped
{
	background-color: #857c7c;
}